services:
  localstack:
    image: localstack/localstack:4.11.0@sha256:e74a786298348a5f6dc03d811fcdad6223ab75d35586d502779a13e551608e78
    network_mode: bridge
    environment:
      SERVICES: lambda,sns,s3,sqs,iam
      DEBUG: 1
    ports:
      - 4566:4566
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

networks:
  default:
    name: caselaw
    external: true
