name: Run linter & tests

on: push

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: |
            requirements/base.txt
            requirements/local.txt

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        env:
          SKIP: no-commit-to-branch
  test:
    env:
      MARKLOGIC_HOST: ml-host
      MARKLOGIC_USER: ml-user
      MARKLOGIC_PASSWORD: ml-password
      MARKLOGIC_USE_HTTPS: 0
      AWS_BUCKET_NAME: judgments-original-versions
      PUBLIC_ASSET_BUCKET: public-asset-bucket
    name: Run unit tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@main
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: pip install -r requirements/local.txt

      - name: Install coverage
        run: pip install coverage

      - name: Run tests with coverage
        run: coverage run -m pytest tests/*

      - name: Generate coverage XML
        run: coverage xml

      - name: Upload coverage to CodeClimate
        uses: paambaati/codeclimate-action@v9.0.0
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
