name: Deploy lambda to AWS

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      - uses: aws-actions/setup-sam@d78e1a4a9656d3b223e59b80676a797f20093133 # v2
      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_STAGING_ROLE_ARN }}
          aws-region: eu-west-2
      - run: sam build --use-container -m requirements/base.txt
      - run: > # zizmor: ignore[template-injection]
          sam deploy --no-confirm-changeset --no-fail-on-empty-changeset --stack-name ds-caselaw-ingester --s3-bucket ingester-test-2 --capabilities CAPABILITY_IAM --region eu-west-2 --parameter-overrides
          AwsBucketName=${{ vars.PRIVATE_ASSET_BUCKET }}
          EditorialUiBaseUrl=${{ vars.EDITORIAL_UI_BASE_URL }}
          MarklogicHost=${{ secrets.MARKLOGIC_HOST }}
          MarklogicPassword=${{ secrets.MARKLOGIC_PASSWORD }}
          MarklogicUser=${{ secrets.MARKLOGIC_USER }}
          MaxRetries=${{ vars.MAX_RETRIES }}
          NotifyApiKey=${{ secrets.NOTIFY_API_KEY }}
          NotifyEditorialAddress=${{ vars.NOTIFY_EDITORIAL_ADDRESS }}
          NotifyNewJudgmentTemplateId=${{ vars.NOTIFY_NEW_JUDGMENT_TEMPLATE_ID }}
          NotifyUpdatedJudgmentTemplateId=${{ vars.NOTIFY_UPDATED_JUDGMENT_TEMPLATE_ID }}
          PublicAssetBucket=${{ vars.PUBLIC_ASSET_BUCKET }}
          RollbarEnv=${{ vars.ROLLBAR_ENV }}
          RollbarToken=${{ secrets.ROLLBAR_TOKEN }}
          SnsTopic=${{ vars.SNS_TOPIC }}
          SqsQueueUrl=${{ vars.SQS_QUEUE_URL }}
          VpcSubnetId0=${{ vars.VPC_SUBNET_ID_0 }}
          VpcSubnetId1=${{ vars.VPC_SUBNET_ID_1 }}
          VpcSubnetId2=${{ vars.VPC_SUBNET_ID_2 }}
          VpcSecurityGroupId=${{ vars.VPC_SECURITY_GROUP_ID }}
